.dog_adoption {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    height:800px;
    background:linear-gradient(rgb(164, 182, 204), rgb(77, 107, 143));
}