.filters {
    width: 100%;
    margin-top:260px;
}

.filters_title, .filters_subtitle, .temperaments {
    width: 100%;
    color:rgb(22, 50, 0)
}

.options, .origin {
    background-color: rgb(21, 51, 88);
    height:30px;
    border-radius:5px;
    border:none;
    color:rgb(183, 227, 149);
}

.origin {
    margin:5px;
}