.column_right, .column_left {
    width:15%;
}

.column_left {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.filters {
    width: 100%;
    display:flex;
    /* align-items: center; */
    justify-content:space-evenly;
}

.filter {
    border: solid 1px;
    border-radius: 0.2rem;
    border-color:rgb(75, 81, 87);
}
/* .filters_title, .filters_subtitle, .temperaments {
    width: 100%;
    color:rgb(22, 50, 0)
}

.options, .origin {
    background-color: rgb(21, 51, 88);
    height:30px;
    border-radius:5px;
    border:none;
    color:rgb(183, 227, 149);
}

.origin {
    margin:5px;
} */