.App {
  display:flex;
  flex-direction: column;
  /* text-align: center; */
}

/* background-repeat: repeat; */
/* background-size: 1300px 800px; 
/* url(), 
no-repeat,  */
/* 1400px 200px,  */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height:120px;
  background:linear-gradient(rgb(164, 182, 204), rgb(77, 107, 143));
  background-size:cover;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .banner_to_landing {
  position:absolute;
  width:100%;
  height: 120px;
  background-color:white;

} */

.landing_page {
  background:linear-gradient(rgb(164, 182, 204), rgb(77, 107, 143));
  background-size:cover;
  margin-bottom:0px;
  height:625px;
}

.landing_title {
  padding-top:120px;
  font-size: 30px;
}

.landing_body {
  padding: 50px;
}